beautifulsoup4==4.11.1
build==0.8.0
certifi==2022.6.15
charset-normalizer==2.1.0
Color-Palette @ file:///C:/Users/robak/PycharmProjects/Color_Palette
colorama==0.4.5
contourpy==1.0.5
convcolors==2.2.0
cycler==0.11.0
docopt==0.6.2
extcolors==1.0.0
fonttools==4.37.3
idna==3.3
Js2Py==0.71
keyboard==0.13.5
kiwisolver==1.4.4
matplotlib==3.6.0
MouseInfo==0.1.3
numpy==1.23.3
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
packaging==21.3
pep517==0.13.0
Pillow==9.2.0
pipreqs==0.4.11
pipwin==0.5.2
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
pyjsparser==2.7.1
PyMsgBox==1.0.9
pynput==1.7.6
pyparsing==3.0.9
pyperclip==1.8.2
PyPrind==2.11.3
PyRect==0.2.0
PyScreeze==0.1.28
pySmartDL==1.3.4
python-dateutil==2.8.2
pytweening==1.0.4
pytz-deprecation-shim==0.1.0.post0
requests==2.28.1
six==1.16.0
soupsieve==2.3.2.post1
tomli==2.0.1
tzdata==2022.4
tzlocal==4.2
urllib3==1.26.11
winregistry==1.1.1
yarg==0.1.9
